<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inicio</title>
        <meta name="description" content="Inicio de la pagina">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% extends 'layout.html' %}
        {% block content %}
            <div class="box github"><a href="https://github.com/Rodrigo-Novas"  target="_blank"><img src="../static/GitHub_Logo.png" alt="github"></a></div>
            <div class="box linkedin"><a href="https://www.linkedin.com/in/rodrigo-novas-927057165/" target="_blank"><img src="../static/LI-Logo.png" alt="linkedin"></a></div>
        {% endblock %}
    </body>
</html>